
/*cadre general des sections ------------------------------------------------*/

/* Place les blocs hebergements et populaire cote a cote*/
.placementBlocAnnonce{
    display: flex;
    flex-direction: column-reverse;
}

/* fin cadre general des sections ----------------------------------------------*/



/*-------------------- Header ------------------------------------------------------------*/

/*----------------------- Menu Navigation -------------------------*/
.logoReservia{
    width: 200px;
    height: 100px;
}

h1{
    margin-top: 40px;
    margin-left: 20px;
}

.menuNavigation{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-left: 0px;
    padding-top: 20px;

    width: 100%;

}

.menuSInscrireOrdi{
    display: none;
}

.menuSInscrirePortable{
    display: flex;
    margin-top: 20px;
    margin-right: 20px;
    border-top: 3px white solid;
    padding-top: 9px;

    font-size: 1.5em;
}
.menuSInscrirePortable a{
    display: flex;
    justify-content: flex-end;

    width: 200px;

    color:#0065FC;
    font-weight: bold;
    font-size: xx-large;
}
.menuSInscrirePortable:hover{
    border-top: 3px white solid;
}



.imageSiteEtOngletInscrire{
    display: flex;
    justify-content: space-between;    
}

.menuNavigationOnglet{
    display: flex;
    justify-content: space-around;

    width: 100%;
    font-weight: normal;

    color:#0065FC;
    font-weight: bold;
}

.menuNavigationOnglet a{
    font-size: 2em;
}

.menuHebergement{
    border-bottom: 3px grey solid;

    width: 50%;
    padding-bottom: 20px;
}
.menuHebergement a{
    color: grey;
    width: auto;
    margin-left: 50px;
}
.menuHebergement:hover{
    border-top: 3px white solid;
    border-bottom: 3px #0065FC solid;
}
.menuHebergement a:hover{
    color: #0065FC;
}

.menuActivite{
    border-bottom: 3px grey solid;

    width: 50%;
    padding-bottom: 20px;
}
.menuActivite a{
    width: auto;
    margin-left: 35%;
    color: grey;
}
.menuActivite:hover{
    border-top: 3px white solid;
    border-bottom: 3px #0065FC solid;
}
.menuActivite a:hover{
    color: #0065FC;
}

@media screen and (max-width: 650px)
{
    .menuNavigationOnglet a{
        font-size: 1.2em;
    }

    .menuHebergement a{
        margin-left: 20px;
    }
}

/*--------------- Fin Menu Navigation ----------------------*/


/*------------------- zone recherche --------------------------*/
.cadreRecherche{
    width: 90%;
    margin-left: 20px;
}

/* premiere icone sur barre recherche */
.iconeRecherche{
    font-size: 1em;
}

/* bloc recherche */
.boxRecherche input{
    width: 100%;
}

.boxRecherche{
    width: 80%;
}

.boutonRecherche{
    width: 50px;
}

/* active l'icone recherche */
.fas.fa-search{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: auto;

    font-size: large;
    font-weight: bold;
    color: white;

    display: flex;
    flex-direction: row;
}

/* desactive mot Recherche */
.titreBoutonRecherche{
    display: none;
}




/* zone filtre ------------------------------*/
.zoneFiltre{
    height: 210px;
}

.barreFiltre{
    flex-direction: column;

    margin-left: 20px;

    height: 200px;
    width: 350px;
}

.boutonFiltre:hover{
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,.5);
    cursor : pointer;
    transition: box-shadow 0.5s;
}
/* zone icone filtre */
.iconeFiltre{
    width: 30px; 
    border: 3px #F2F2F2 solid;
    border-radius: 30px 30px 30px 30px;
    background-color: white;
}

.nomBarreFiltre{
    width: 300px;
}

.zoneFiltre{
    display: flex;
    flex-direction: column;
}

.filtreRomantique{
    width: 150px;
    margin-top: 15px;
}
.filtreAnimaux{
    width: 210px;
    margin-top: 15px;
}


/* information -----------------------*/
.information{
    margin-left: 20px;
    margin-bottom: 10px;
    padding-top: 0px;
}



/* --------------- Zone Hebergement ------------------------------------------------------------------------------------- */

/* La plus grande section Hebergement */

.zoneAnnonceHebergement{
    background-color: #F2F2F2; /* Le fond de la page sera gris */
    border-radius: 30px;
    width: 95%;
    height: 34%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

/* Regroupe les annonces */
.blocAnnonceHebergement{
    flex-direction: column;
    width: 95%;
}
/* chaque annonce indépendante */
.annonceHebergement{

    /* dimension */
    width: 90%;
    height: 250px;
    display: inline-block;   

    margin-left: auto;
    margin-right: auto;

}

/* Dimension Image */
.imageAnnonce{
    height: 60%;
}

.sousTexteAnnonceHebergement{
    margin-bottom: 0px;
}

@media screen and (min-width: 800px) and (max-width: 1050px)
{
    /* chaque annonce indépendante */
    .annonceHebergement{

        /* dimension */
        width: 700px;
        height: auto;

        margin-left: auto;
        margin-right: auto;
    }

    /* Dimension Image */
    .imageAnnonce{
        width: 100%;
        height: auto;
        max-height: 400px;
    }

    .sousTexteAnnonceHebergement{
        margin-bottom: 0px;
        margin-left: 50px;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px)
{
    /* chaque annonce indépendante */
    .annonceHebergement{

        /* dimension */
        width: 500px;
        height: auto;

        margin-left: auto;
        margin-right: auto;
    }

    /* Dimension Image */
    .imageAnnonce{
        width: 100%;
        height: auto;
        max-height: 300px;
    }

    .sousTexteAnnonceHebergement{
        margin-bottom: 0px;
        margin-left: 50px;
    }
}

@media screen and (max-width: 599px)
{
    /* chaque annonce indépendante */
    .annonceHebergement{

        /* dimension */
        width: 350px;
        height: auto;

        margin-left: auto;
        margin-right: auto;
    }

    /* Dimension Image */
    .imageAnnonce{
        width: 100%;
        height: auto;
        max-height: 230px;
    }

}


/* fin CSS Hebergement ------------------------------------------------*/




/* début Zone Populaire ---------------------------------------------------------------------*/

/* La plus grande section Hebergement */
.zoneAnnoncePopulaire{
    width: 97%;
    height: 34%;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 0px;

    padding-bottom: 20px;
}

/* chaque annonce indépendante */
.annoncePopulaire{
    width: 90%;
}

.imageAnnonceFlottante{
    width: 220px;
    height: 170px; 
}

.sousTexteAnnoncePopulaire{
    padding-top: 20px;
}

@media screen and (max-width: 600px)
{
    .h3Annonce{
        font-weight: bold;
        display: inline;
    }

    .sousTexteAnnoncePopulaire h3{
        font-size: medium;
        margin: 2px 2px 2px 0%;
        padding-top: 0px;
    }
}
/* fin Zone Populaire -------------------------------------------------*/





/* Zone Activité -------------------------------------------------------*/

    /* bloc global activité */
    .zoneActivites{
        width: 95%;

        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .zoneActivites h2{
        margin-left: 10px;
    }
    /* texte sous les images */
    .sousTexteActivites{
        margin-top: 10px;
        margin-left: 15px;
        margin-bottom: 10px;
    }

    /* placer activité l'une sur l'autre */
    .blocActivites{
        display: flex;
        flex-direction: column;

        margin-top: 20px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        
        margin-left: auto;
        margin-right: auto;
        height: 300px;
    }

    .blocActivitesVersionPortable{
        height: 550px;
        width: 95%;

        margin-left: auto;
        margin-right: auto;
    }
    .dispositionActivitesDoubleBloc{
        margin-top: 25px;
    }

    /* Placer Activité en colonne */
    .annonceActivites{
        flex-direction: column;
    }


@media screen and (min-width: 800px) and (max-width: 1050px)
{
    /*Taille zone activité*/
    .zoneActivites{
        height: auto; 
        width: 750px;
    }
    .blocActivites{
        height: auto;
        width: 750px;
    }
    .blocActivitesVersionPortable{
        height: auto;
        width: 750px;
        justify-content: space-between;
        
        margin-top: 0px;
        margin-bottom: 0px;
        max-height: 1100px;
    }
    .imageActivitesDuFortGrande{
        max-height: 450px;
    }
    .dispositionActivitesSimpleBloc{
        margin-bottom: 0px;
        margin-left: 0px;
        width: 750px;
        max-height: 550px;
    }

    /*largeur zone activité*/
    .zoneActivites{
        width: 750px;
    }

    /* Dimension Image Activité */
    .imageActivites{
        height: auto;
        width: 750px;
    }
    .imageActivitesPortable{
        overflow-x : hidden;
        margin-bottom: 0px;
        height: auto;
        width: 750px;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px)
{

    /*Taille zone activité*/
    .zoneActivites{
        height: auto; 
        width: 600px;
    }
    .blocActivites{
        height: auto;
        max-height: 900px;
        width: 600px;
    }
    .blocActivitesVersionPortable{
        height: auto;
        max-height: 900px;
        width: 550px;
        justify-content: space-between;

        margin-top: 0px;
        margin-left: 10px;
        margin-bottom: 0px;
    }
    .dispositionActivitesSimpleBloc{
        margin-left: 10px;
        margin-bottom: 0px;
        width: 550px;
        max-height: 600px;
    }

    /* Dimension Image Activité */
    .imageActivites{
        height: 400px;
        width: 550px;
    }
    .imageActivitesPortable{
        overflow-x : hidden;
        margin-bottom: 0px;
        height: 400px;
        width: 550px;
    }
}


@media screen and (max-width: 599px)
{   
    /*Taille zone activité*/
    .zoneActivites{
        height: auto;
        width: 400px; 
    }
    .blocActivites{
        height: auto;
        max-height: 600px;
    }
    .blocActivitesVersionPortable{
        height: auto;
        max-height: 750px;
        justify-content: space-between;

        margin-top: 0px;
        margin-bottom: 0px;
    }
    .dispositionActivitesSimpleBloc{
        margin-left: 10px;
        margin-bottom: 0px;
        width: 380px;
        height: auto;
        max-height: 350px;
    }

    /* Dimension Image Activité */
    .imageActivites{
        height: 300px;
        width: 400px;
    }
    .imageActivitesPortable{
        overflow-x : hidden;
        margin-bottom: 0px;
        height: 300px;
        width: 400px;
    }
}

/* fin Zone Activité ----------------------------------------------------*/


/* footer ---------------------------------------------------------------*/
.zoneFooter{
    display: flex;
    flex-direction: column;

    margin-left: 20px;
    height: auto;
}

.blocFooter{
    margin-bottom: 40px;
    margin-right: 20px;
}

/* fin du footer --------------------------------------------------------*/




