.logoSite
{
    width: 25%;
}


/* initialisation de la police d'ecriture*/
@font-face {
    font-family: 'Reservia';
    src: url('Raleway-VariableFont_wght.ttf');
}

/* Police d'ecriture pour tout les textes*/
*{
    font-family: Reservia, Impact;
}


/* Toute la page */
body
{
    background-color: white; /* Le fond de la page sera blanc */
    color: black; /* Le texte de la page sera noir */
}




/* --------------- Zone Hebergement ------------------------------------------------------------------------------------- */

.hébergementTitre{
    padding-left: 20px;
    padding-top: 40px;
}

/* La plus grande section Hebergement */
.zoneAnnonce{
    background-color: #F2F2F2; /* Le fond de la page sera gris */
    border-radius: 10px;
    width: 60%;
    height: 34%;
}

/* Regroupe les annonces */
.blocAnnonce{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* chaque annonce indépendante */
.annonce{
    /* flexbox */
    display: flex;
    flex-direction: column;
    overflow-x : hidden;

    /* cadre */
    border : 5px white solid;
    border-radius: 30px;

    /* dimension */
    margin: 20px;
    height: 10%;
    max-height: 10%;
    width: 28%;
    max-width: 28%;
    display: inline-block;   
    padding-bottom: 0px; 
    overflow : hidden;
}

/* Dimension Image */
.imageAnnonce{
    height: 61%;
    width: 100%;
}

.sousTexteAnnonce{
    margin-left: 15px;
    margin-bottom: 5px;
}


/* titre de l'annonce a mettre en gras*/
.h3Annonce{
    font-weight: bold;
    display: inline;
}

/* texte pour afficher plus d'annonce */
.afficherPlus{
    font-weight: bold;
    padding-left: 20px;
    margin: opx;
    
    display: inline;
    display: inline-block;  
}

/*couleur icone */
.fas fa-star, .far fa-star{
color: #0065FC;
}